<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <%= javascript_include_tag "application" %>

  <nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "the problem app", root_path%></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">

    <ul class="right">
  
      <li class="divider"></li>
            <li><%= link_to "About Us", welcome_about_path %></li>

      
      <li class="divider"></li>

      <li><%= link_to "Policy", welcome_policy_path %></li>

      <li class="divider"></li>

            <li><%= link_to "Contact us", welcome_contact_path %></li>
   
    <li class="divider"></li>

            <li><%= link_to "Sign in | Sign Up", restaurants_path %></li>

  
    </ul>
  </div>
</nav>








    <%= yield %>

  </body>
</html>